<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
</head>
<body>
    <div class="square">
        <h1>Plan your next trip</h1>

        <form id="tripForm">
            <div id="form-element">
                <label>Location</label>
                <input type="text" id="city" placeholder="Enter location here">
            </div>
            <div id="form-element">
                <label>Date</label>
                <input type="date" id="trip-date" aria-describedby="date" />
            </div>
            <button id="btnSubmit" id="form-element" onclick="Client.performAction(event)">Search</button>
        </form>

        <section>
            <h2>Search Details</h2>
            <div id="search-result">
                <div class="card-content">
                    <div id="imgCon">
                        <img id="trip-image" src="#"/>
                    </div>
                    <div id="infoCon">
                        <div id="tripIn">
                            <h3 id="trip-city"></h3>
                            <p id="temp"></p>
                            <p id="weather"></p>
                            <p id="trip-countdown"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    
    


    <script>
        //Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
    </script>
</body>
</html>